.destinations { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.container-dest{ 
    max-width: 1240px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.img {
    flex-grow: 4;
 display: block;
padding: .5rem;
 width: 50%;
 height:100%;
}
h1 { 
padding: 1rem;
text-transform: uppercase;
}
p{
padding: 1rem;
text-transform: uppercase;
font-weight: 600;
}

@media screen and (max-width:414px) { 
    h1{
         font-size: 1.7rem;
    }

    .img { 
        padding: .3rem ;
    }
  
    p{
    font-size: 0.8rem;
}
}